.tab-heading {
    background: none;
    border: none;
    padding-bottom: 8px;

    color: var(--subtle-font-color);
    text-transform: uppercase;
    font-weight: bolder;

    padding: 15px 15px 11px;

    margin-right: 30px;
}

.tab-heading:hover {
    filter: brightness(80%);
}

.tab-heading:focus {
    outline: none;
    border-bottom: 2px solid var(--highlight-color);
    margin-bottom: 2px;
}

.tab-active {
    color: var(--main-font-color);
    border-bottom: 4px solid var(--highlight-color);
    margin-bottom: 0x;
}

.tab-active:focus {
    outline: none;
    border-bottom: 2px solid var(--highlight-color);
    margin-bottom: 2px;
}

.tab-hr {
    margin-bottom: 15px;
}