@import "/reset-and-normalize/css/reset-and-normalize.min.css";

@import "./theme.css";

body {
  margin: 0;
  padding: 0;

  color: var(--main-font-color);
  background-color: var(--outside-background-color);
}

hr {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 0 -60px;
}

#root {
  display: flex;
  min-height: 100vh;
}
