:root {
    --outside-background-color: #EDEDED;
    --inside-background-color: #FFFFFF;

    --main-font-color: #4D4D4D;
    --subtle-font-color: #CECECE;

    --border-color: #EEEEEE;

    --highlight-color: #3F87F5;
    --highlight-disabled-color: #9E9E9E;
    --highlight-text-color: #FFFFFF;
}