.price-container {
    padding: 45px 0;
}

.price {
    margin-right: 20px;

    font-weight: bolder;
    font-size: 1.7em;
}

.on-sale {
    color: var(--subtle-font-color);
    text-decoration: line-through;
}