@import "../../theme.css";

.product-view {
    margin: auto;
    width: 90%;
}

.product-view-grid {
    display: grid;
    grid:
        "header product-image" auto
        "item-header product-image" auto
        "item-details product-image" 1fr
        "cart-controls product-image" auto
        / 1fr auto;

    background-color: var(--inside-background-color);

    --inside-padding: 80px;
}

.header {
    grid-area: header;
    padding: 50px var(--inside-padding);
}

.back-link {
    text-decoration: none;
    color: var(--main-font-color);
}

.back-link:hover {
    filter: brightness(85%);
}

.back-link::before {
    content: '🡐';
    color: var(--subtle-font-color);
    padding-right: 10px;
}

.item-header {
    grid-area: item-header;
    padding: 0 var(--inside-padding);
}

.item-details {
    grid-area: item-details;
    padding: 0 var(--inside-padding) 20px;
}

.cart-controls {
    grid-area: cart-controls;
    padding: 10px var(--inside-padding);
}

.product-image-container {
    grid-area: product-image;
    border-left: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 80px;
}

.product-image {
    max-width: 35vw;
    max-height: 80vh;
}

@media (max-width: 900px) {
    .product-view-grid {
        grid:
            "header" auto
            "item-header" auto
            "product-image" auto
            "item-details" auto
            "cart-controls" auto
            / auto;
    }

    .header {
        grid-area: header;
        padding: 20px var(--inside-padding);
    }

    .cart-controls {
        text-align: center;
    }

    .product-image-container {
        padding: 20px;
    }
}